.Header {
  width: 100%;
  height: 500px;

  position: relative;
  z-index: 0;

  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  background: linear-gradient(3deg, rgb(0, 0, 0), rgb(0, 35, 163));
}
.sec-head {
  position: fixed;
  left: 0;
  z-index: -2;
  top: 0;
  background: rgb(0, 35, 163);
  height: 600px;
}

.header-container {
  width: 80%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 540px);
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}
.header-container div {
  width: 100%;
}

.header-img img {
  width: 360px;
  border: 2px solid #ffffff;
  padding: 34px 34px 0 0;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.header-text {
  text-align: left;
  margin: 0;
  padding-top: 70px;
  padding-left: 40px;
}
.header-text div h4 {
  font-size: 18px;
  color: #ffffff;
}
.header-text h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  color: #ffffff;
}
.header-text h1 span {
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  background: -webkit-linear-gradient(70deg, #ffffff, #3dff7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn {
  margin-top: 30px;
  max-width: 250px;
  padding: 11px;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  border-radius: 30px;
  text-shadow: var(--dark-shadow);
  background: linear-gradient(45deg, #3dff7d, #5298ff);
  cursor: pointer;
  transition: 2s ease;
}
.btn:hover {
  background: linear-gradient(70deg, #5298ff, #3dff7d);
}

.trusted {
  position: absolute;
  top: 620px;
  left: 40%;
  margin: 0 auto;
}

.statement {
  position: relative;
  /* width: 50%; */
  background: blue;
  display: grid;
  grid-template-columns: repeat(2, 500px);
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}

.statement div h2 {
  font-size: 34px;
  color: #ffffff;

  position: relative;
  z-index: 2;
}
.statement div p {
  position: relative;
  z-index: 2;

  text-shadow: 0 2px 5px black;
}
.statement img {
  position: absolute;
  top: 100px;
  right: 0;
  width: 420px;
  z-index: 1;
}
.img-container {
  display: flex;
  align-items: center;
  padding: 0 200px;
  width: 500px;
}
.img-container img {
  width: 450px;
}
.description {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 100px;
  color: #ffffff;
}
.description div {
  text-align: center;
  font-size: 22px;
}
.description div img {
  width: 100px;
  border-radius: 20px;
}
@media screen and (max-width: 1110px) {
  .header-container {
    padding-top: 30px;
    grid-template-columns: repeat(2, 400px);
  }
  .statement {
    grid-template-columns: repeat(2, 360px);
  }
  .header-img img {
    width: 315px;
  }
}

@media screen and (max-width: 800px) {
  .Header {
    width: 100%;
    min-height: 1000px;
  }
  .header-img {
    padding-top: 20px;
  }

  .header-img img {
    width: 330px;
  }
  .header-container {
    padding-top: 5px;
    grid-template-columns: repeat(1, 400px);
  }
  .trusted {
    top: 1120px;
  }
  .sec-head {
    top: 20px;
  }
  .sec-head {
    position: absolute;
    left: 0;
    z-index: -2;
    top: 0;
    background: rgb(0, 35, 163);
  }
  .statement {
    grid-template-columns: repeat(1, 350px);
  }

  .img-container {
    padding: 0;
    width: 100%;
  }
  .img-container img {
    width: 180px;
    justify-content: space-around;
  }
  .statement img {
    position: absolute;
    top: 200px;
    right: 0;
    width: 250px;
    z-index: 1;
  }
  .description div img {
    width: 50px;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
}

.fa-bars {
  display: block;
  color: #ffffff;
  font-size: 70px;
}

footer {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(3deg, rgb(0, 0, 0), rgb(0, 35, 163));
}
footer .footer u {
  font-size: 25px;
  color: #ffffff;
  text-transform: uppercase;
}
.footer p {
  pointer: cursor;
}
